<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.lib.admin.calendar.AdminCalendarMapper">

	<select id="getSchedule" resultType="AdminCalendarVO">
		SELECT * FROM SCHEDULE 
	</select>
	
	<insert id="setSchedule" parameterType="AdminCalendarVO">
		INSERT INTO SCHEDULE
		(ID, TITLE, START, END)
		VALUES((SELECT MAX(PRONUM) FROM PROGRAM), #{title}, STR_TO_DATE(#{start}, '%Y-%m-%d %H:%i'), STR_TO_DATE(#{end}, '%Y-%m-%d %H:%i'));
	</insert>
	
	<insert id="setAdSchedule" parameterType="AdProgramVO">
	INSERT INTO PROGRAM
		(PROCATE, RECSTATUS, PROTITLE, TARGET, TOTAL, PRSDATE, PRLDATE, PSDATE, PLDATE, PROTEACHER, PROPLACE, PROCONTENTS)
	VALUES(NULL, NULL, #{proTitle}, NULL, NULL, NULL, NULL, STR_TO_DATE(#{psDt}, '%Y-%m-%d %H:%i'), STR_TO_DATE(#{plDt}, '%Y-%m-%d %H:%i'), NULL, NULL, NULL)
	</insert>
	
	<insert id="setPrSchedule" parameterType="AdminCalendarVO">
		INSERT INTO SCHEDULE
		(ID, TITLE, START, END)
		VALUES((SELECT MAX(PRONUM) FROM PROGRAM), #{title}, STR_TO_DATE(#{start}, '%Y-%m-%d %H:%i'), STR_TO_DATE(#{end}, '%Y-%m-%d %H:%i'));
	</insert>
	
	<update id="setScheduleUpdate" parameterType="AdProgramVO">
		UPDATE SCHEDULE SET TITLE=#{proTitle}, START=STR_TO_DATE(#{psDt}, '%Y-%m-%d %H:%i'), END=STR_TO_DATE(#{plDt}, '%Y-%m-%d %H:%i')
		WHERE ID=#{proNum}
	</update>
	
	<delete id="setScheduleDelete" parameterType="AdProgramVO">
		DELETE FROM SCHEDULE WHERE ID = #{proNum}
	</delete>
</mapper>